<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/SaleCold/SaleCold/static/css/normalize.css">
	<link rel="stylesheet" href="/SaleCold/SaleCold/static/css/administrador.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" />

	<link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet" />
	<title>Salecold </title>
</head>

<body>
	<header class="header">
		<a href="#" class="header-close">
			<i class="fas fa-power-off header__user-close" aria-hidden="true"></i>
		</a>

		<nav class="nav-main">
			<ul class="nav-gestiones">
				<li class="nav-title">
					<a href="#" class="nav-main__home">
						<img src="/SaleCold/SaleCold/static/assets/favicon/Logo4.webp" alt="Logo de la empresa"
							class="nav-main__logo" loading="lazy" />
					</a>
					<h2 class="nav-main__name">SaleCold</h2>
				</li>

				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link" title="Inicio">
						<i class="fas fa-home nav-icon"></i>
						Inicio
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="far fa-file-alt nav-icon" title="Gestionar facturas"></i>
						Gestionar facturas
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-truck nav-icon" title="Metodos de entrega" aria-hidden="true"></i>
						Metodos de entrega
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-archive nav-icon" title="Gestionar productos"></i>
						Gestionar productos
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-user-edit nav-icon" title="Gestionar usuarios"></i>
						Gestionar usuarios
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-money-check-alt nav-icon" title="Metodos de pago"></i>
						Metodos de pago
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="/GestionarPedido.html" class="nav-gestiones__link">
						<i class="fas fa-truck nav-icon" title="Metodos de entrega"></i>
						Gestionar pedidos
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-truck nav-icon" title="Metodos de entrega"></i>
						Metodos de entrega
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-cog nav-icon" title="Configuracion"></i>
						Configuración
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<main class="main">
		<section class="main-section">
			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/GestionarFactura.webp"
						alt="Logo gestionar facturas" class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Gestionar facturas</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/GestionarMetodoEntrega.webp"
						alt="Logo gestionar entregas" class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Metodos de entrega</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/GestionarProductos.webp"
						alt="Logo gestionar productos" class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Gestionar productos</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/GestionUsuario.webp" alt="Logo gestionar usuarios"
						class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Gestionar usuarios</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/MetodosPago.webp"
						alt="Logo gestionar metodos de pago" class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Metodos de pago</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/GestionarFactura.webp"
						alt="Logo gestionar metodos de entrega" class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Metodos de entrega</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/GestionarMetodoEntrega.webp"
						alt="Logo gesionar pedidos" class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Gestionar pedidos</h3>
			</article>

			<article class="main-article">
				<a href="#" class="main-article__link">
					<img src="/SaleCold/SaleCold/static/assets/images/Configuracion.webp" alt="Logo configuracion"
						class="main-imagen_gestion" loading="lazy" />
				</a>
				<h3 class="main-article__title">Configuración</h3>
			</article>
		</section>
	</main>

	<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</body>

</html>