<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- 	<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<link rel="stylesheet" href="{% static 'css/agregarProducto.css' %}" /> -->
	<link rel="stylesheet" href="/SaleCold/SaleCold/static/css/normalize.css" />
	<link rel="stylesheet" href="/SaleCold/SaleCold/static/css/styles.css" />
	<link rel="stylesheet" href="/SaleCold/SaleCold/static/css/administrador.css" />
	<link rel="stylesheet" href="/SaleCold/SaleCold/static/css/agregarProducto.css" />
	<link rel="shortcut icon" href="{% static 'assets/favicon/Logo4.webp' %}" type="image/x-icon" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />

	<link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet" />

	<title>SaleCold</title>
</head>

<body>
	<header class="header">
		<a href="#" class="header-close">
			<i class="fas fa-power-off header__user-close" aria-hidden="true"></i>
		</a>

		<nav class="nav-main">
			<ul class="nav-gestiones">
				<li class="nav-title">
					<a href="#" class="nav-main__home">
						<img src="/SaleCold/SaleCold/static/assets/favicon/Logo4.webp" alt="Logo de la empresa"
							class="nav-main__logo" loading="lazy" />
					</a>
					<h2 class="nav-main__name">SaleCold</h2>
				</li>

				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link" title="Inicio">
						<i class="fas fa-home nav-icon"></i>
						Inicio
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="far fa-file-alt nav-icon" title="Gestionar facturas"></i>
						Gestionar facturas
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-truck nav-icon" title="Metodos de entrega" aria-hidden="true"></i>
						Metodos de entrega
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-archive nav-icon" title="Gestionar productos"></i>
						Gestionar productos
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-user-edit nav-icon" title="Gestionar usuarios"></i>
						Gestionar usuarios
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-money-check-alt nav-icon" title="Metodos de pago"></i>
						Metodos de pago
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="/GestionarPedido.html" class="nav-gestiones__link">
						<i class="fas fa-truck nav-icon" title="Metodos de entrega"></i>
						Gestionar pedidos
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-truck nav-icon" title="Metodos de entrega"></i>
						Metodos de entrega
					</a>
				</li>
				<li class="nav-gestiones__item">
					<a href="#" class="nav-gestiones__link">
						<i class="fas fa-cog nav-icon" title="Configuracion"></i>
						Configuración
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<main class="main-producto">
		<fieldset class="container-producto">
			<legend class="container-producto__title"> Registro de producto </legend>

			<form action="#" method="POST" class="form-producto">
				<label class="form-producto__label">
					Nombre del producto
					<input type="text" required name="Nombre" class="form-producto__input" />

				</label>
				<label class="form-producto__label">
					Cantidad
					<input type="number" required name="cantidad" class="form-producto__input" />
				</label>
				<label class="form-producto__label">
					Precio
					<input type="number" required minlength="3" maxlength="12" name="precio"
						class="form-producto__input" />
				</label>
				<label class="form-producto__label">
					Categoria
					<input type="text" required name="cantidad" class="form-producto__input" />
				</label>
				<label for="descripcion" class="form-producto__label">
					Descripción
				</label>
				<label>
					<textarea name="descripcion" id="Comentario" cols="36" rows="8" class="form-producto__textarea"
						tabindex="6" required></textarea>
				</label>
				<label class="form-foto__label">
					<input type="file" class="form-foto__input" tabindex="6">
				</label>

				<button class="form-producto__button">
					Agregar
				</button>
				<button class="form-producto__button form-producto__btncancelar">
					Cancelar
				</button>
			</form>
		</fieldset>

		<aside class="main-icon">
			<a href="/info/" class="main-icon__link main-icon__link--position">
				<i class="fas fa-info-circle fa-2x"></i>
			</a>
			<a href="/contact/" class="main-icon__link">
				<i class="fas fa-comment-dots fa-2x"></i>
			</a>
		</aside>
	</main>

	<script src="{% static 'js/index.js' %}" defer></script>
	<script src="https://kit.fontawesome.com/92318589eb.js" crossorigin="anonymous"></script>
</body>

</html>