.main{
    width: 50vw;
    height: 50vh;
    background-image: url(/SaleCold/SaleCold/static/assets/images/yo-habia-ponido-mis-cosas-aqui01561772726.png);
    background-size: contain;
    background-repeat: no-repeat;
}