body{
	display: block;
}

.header{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.main-producto{
	display: block;
}

.container-producto{
	display: block;
	width: 62vw;
	height: 68vh;
	background-color: #0A1931;
	color: white;
	box-shadow: 7px 13px 37px rgb(2, 2, 2);
	border: none;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	border-radius: 1rem;
	margin: 12vh 0 0 30%;
	padding: 2rem;
}

.form-producto{
	width: 100%;
}

.form-producto__input {
	border: 0;
	background-color: rgba(238, 238, 238, 0);
	border:1px solid rgb(40, 135, 194);
	display: block;
	margin: 1.2rem 0 0 0;
	width: 100%;
	height: 2.4rem;
	color:white;
}

.container-producto__title{
	position: relative;
	top: 2.4rem;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-weight: bolder;
}

.form-foto__input{
	font-size: 1rem;
	display: block;
}

.form-producto__label {
	display: inline-block;
	width: 46%;
	margin: 1.3rem 1.7rem 0 0;
	font-size: 1.1rem;
}

.form-producto__button {
	display: inline-block;
	width: 7rem;
	height: 2.2rem;
	background-color: rgb(0, 81, 255);
	border: transparent;
	color:white;
	margin: 1.2rem 0 0 0;
	font-size: .9rem;
}

.form-producto__textarea {
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid rgb(40, 135, 194);
	margin: .8rem 0 .8rem 0;
	color:white;
	overflow: auto;
	resize: none;
	width: 100%;
	height: 5.3rem;
}

@media (max-width: 1400px)  {
	.container-producto{
		height: 85vh;
		padding: 2rem;
		font-size: 1rem;
		margin: 6vh 0 0 30%;
	}

	.form-producto__input {
		margin: 1.2rem 0 0 0;
		height: 2rem;
	}

	.container-producto__title {
		top: 2.2rem;
		margin: 0 0 .3rem 0;
		font-size: 1.4rem;
	}

	.form-foto__input{
		font-size: .9rem;
	}

	.form-producto__label {
		width: 45%;
		height: 1rem;
		margin: 1.2rem 1.7rem 0 0;
		font-size: .9rem;
	}

	.form-producto__button {
		height: 2rem;
	}

	.form-producto__textarea {
		height: 4rem;
	}
}

.form-producto__btncancelar{
	margin-left: 2rem;
}