.container-form-add-order{
    width: 38%;
    margin: 1.5vmin auto 0 auto;
    background-color: var(--color-formularios);
    padding: 6vmin;
    border: none;
    font-size: 2.3vmin;
    font-family: var(--font-footer);
}
.container-form-add-order__title{
    color: white;
    position: relative;
    top: 6vmin;
    margin: 0 0 2.8vmin 0;
    font-size: 4vmin;
}
.label-add-order, .label-add-order__input{
    display: block;
    background-color: var(--color-formularios);
    color: white;
    margin: 2.2vmin 0 2.2vmin 0;
}

.label-add-order__input{
    width: 100%;
    height: 5vmin;
    border: none;
    border-bottom: 1px solid var(--color-principal);
}
.form-add-order__btn{
    background-color: var(--color-btn-formularios);
    color: white;
    border: none;
    font-size: 2.3vmin;
    width: 13vmin;
    height: 5vmin;
    margin: 3vmin 0 0 0;
}
/* .form-add-order__btn:hover{
    background-color: white;
    outline: 1px solid var(--color-btn-formularios);
    color: var(--color-btn-formularios);
} */
.label-add-order__list{
    background-color: var(--color-formularios);
}