.container-confirmar{
	width: 68vmin;
	height: 109vmin;
	margin: 2vmin auto 2vmin auto;
	background-color: #0A1931;
	border: transparent;
	color: white;
	box-shadow: 7px 13px 37px rgb(2, 2, 2);
	padding: 5.5vmin;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.2vmin;
}
.form-confirmar{
	font-size: 2.7vmin;
}
.container-confirmar__title {
	position: relative;
	top: 6vmin;
	margin: 0 0 2.8vmin 0;
	font-weight: 40px;
	font-size: 3.3vmin;
	font-weight: bolder;
}

.form-confirmar__label {
	display: block;
	margin: 3vmin 0 0 0;
}

.form-confirmar__textarea {
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid rgb(40, 135, 194);
	margin: 2vmin 0 2vmin 0;
	overflow: auto;
	color:white;
	resize: none;
}

.form-confirmar__label,
.form-confirmar__input,
.form-confirmar__button{
	display: block;
}

.form-confirmar__input {
	border: 0;
	background-color: rgba(238, 238, 238, 0);
	border-bottom:1px solid rgb(40, 135, 194);
	display: block;
	margin: 2.5vmin 0 0 0;
	width: 100%;
	height: 4vmin;
	color:white;
}

.form-confirmar__input--background {
	background-color: #0A1931;
}

.form-confirmar__button {
	display: inline-block;
	width: 17vmin;
	height: 5.2vmin;
	background-color: rgb(0, 81, 255);
	border: transparent;
	color:white;
	margin: 1vmin 0 0 7vmin;
}

.form-confirmar__button--cancelar{
	margin-left: 13vmin;
}