.container-gestionar-pedidos{
    width: 87%;
    font-family: 'Open Sans', sans-serif;
    margin: 4vmin auto 5.5vmin auto;
}
.container-gestionar-pedidos__subtitle{
    font-size: 4vmin;
    margin: 1vmin 0 3.7vmin 0;
}
.container-table{
    width: 85vmax;
}
.label-form-search__img{
    position: absolute;
    width: 8vmin;
    top: 0.4vmin;
}
.container-gestionar-pedidos__btn{
    display: block;
    color: white;
    background-color: rgb(0, 81, 255);
    width: 22vmin;
    height: 6vmin;
    text-align: center;
    padding: 1.5vmin;
    border: none;
    margin: 0 auto 5.7vmin auto;
    font-size: 2.3vmin;
}
.container-gestionar-pedidos__btn:hover{
    outline: 1px solid rgb(0, 81, 255);
    background-color: white;
    color: blue;
}