.container-login {
	width: 57vmin;
	height: 62vmin;
	background-color:  #0A1931;
	padding: 2.8vmax;
	margin: 10vmin auto 7.4vmin auto;
	color: white;
	box-shadow: 7px 13px 37px rgb(2, 2, 2);
	border: none;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.6vmin;
}
.form-login {
	margin: 5vmin auto 0 auto;
}
.container-user__img {
	position: absolute;
	width: 18vmin;
	top: -15%;
	left: 33%;
}
.form-login__input {
	border: 0;
	background-color: rgba(238, 238, 238, 0);
	border-bottom: 1px solid rgb(40, 135, 194);
	display: block;
	margin: 3vmin 0 0 0;
	width: 100%;
	height: 5vmin;
	color: white;
}
.form-login__label,
.form-login__btn {
	display: block;
}
.form-login__label {
	margin: 2.4vmin 0 0 0;
}
.form-login__btn {
	margin: 3.4vmin auto 0 auto;
	color: white;
	width: 20vmin;
	height: 6vmin;
	font-size: 2.4vmin;
	text-align: center;
	background-color: rgb(0, 81, 255);
	border: none;
}

.form-login__link {
	text-align: end;
	color: white;
	font-size: 2vmin;
}
.form-login__btn--color{
	padding: 1.5vmin;
}
.messages{
	list-style: none;
	background-color: red;
}