.container-recuperar {
	width: 57vmin;
	height: 57.3vmin;
	background-color: #0A1931;
	padding: 6.5vmin;
	margin: 11vmin auto 10.9vmin auto;
	color: white;
	box-shadow: 7px 13px 37px rgb(2, 2, 2);
	border: none;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.1vmin;
}
.container-recuperar__title {
	position: relative;
	top: 50px;
	font-size: 4vmin;
	margin: 0 0 2.8vmin 0;
}

.form-recuperar__btn {
	display: inline-block;
	margin: 3.4vmin 3.8vmin 0 3.8vmin;
	color: white;
	width: 14vmin;
	height: 7vmin;
	padding: 2.5vmin;
	text-align: center;
	background-color: rgb(0, 81, 255);
	border: transparent;
}
